html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-sy stem, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* color: #03002f; */
}

/* #modal{
  width: 100%;
} */
.orderItem {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 3rem;
  border: 1px solid grey;
}

.orderItem-1 {
  padding: 1rem;
  border: 1px solid grey;
  width: 50%;
  display: flex;
  /* flex-direction */
  justify-content: space-between;
}

#navbar {
  /* color: #00008B; */
  background-image: linear-gradient(to right, #23f1d6e8 0%, #7ae9cd 51%, #12e6a6 100%);
  /* border-bottom: 1px solid grey; */
  z-index: 9;
  top: 0;
  position: sticky;
  height: 12vh auto;
  padding: 0;
  width: 100%;
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #c49635 30%, #b48f39 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #e2dfdf 0%, #FFFFAC 8%, #D1B464 25%, #bd973f 62.5%, #cca447 100%); */
  /* border: 2px solid red; */
  color: #fff;
  /* background: #fff; */
}

.logo img {
  
  /* margin-right: 5rem; */
  height: 8vh;
  width: 125%;
  margin-right: 3rem;
  margin-left: 10rem;
  /* border: 2px solid red; */
}
 

.me-auto {
  margin-left: 5rem;
  width: 100%;
  font-size: 12px;
  /* border: 2px solid red; */
}

.cart {
  /* margin-top: 1rem; */
  /* display: flex;
  align-items: center; */
}

.me-auto a {
  width: auto;
  /* border: 2px solid red; */
  font-weight: 600;
  /* color: #E6B85A; */
  /* font-size: 16px; */
  /* color: black; */
  color: #03002f;
  text-decoration: none;
  padding-right: 1rem;
  margin-top: 0.5rem;


}
.me-auto a{
  color:#191970;
}

.me-auto a:hover {
  color: #3795BD;
}



.forgot-form {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 1rem;
  /* position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%); */
}


.btn-grad {
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* color: white;             */
  border: none;
  color: #03002f;
  ;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
  width: 300px;
  font-weight: bolder;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad1 {
  background-image: linear-gradient(to right, #00000046 0%, #045e578f 51%, #09ecb349 100%);
  margin: 1px;
  padding: 5px 5px;
  
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  /* color: white;             */
  border: none;
  color: #414040;
  text-decoration: none;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
  width: 250px;
  font-weight: bolder;
}
.btn-grad1:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #0c0c0c;
  text-decoration: none;
}
.btn-grad2 {
  background-image: linear-gradient(to right, #09ecb346 0%, #75e6d78f 51%, #09ecb349 100%);
  margin: 1px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  /* color: white;             */
  border: none;
  color: #04a086;
  ;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  display: block;
  width: 250px;
  font-weight: bolder;
}
.btn-grad2:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #2c2323;
  text-decoration: none;
}

.meet-main {
  text-align: center;
  /* border: 2px solid red; */
}

.meet-2 {
  display: flex;
}

.meet-2 img {
  height: 60vh;
  width: 35%;
}

.meet-3 {
  height: 60vh;
  width: 60%;
  padding: 3rem;
  text-align: left;
  background-color: #E6B859;
  color: #03002f;
}

.meet-btn {
  background-color: #41b7e8;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  /* border: none; */
}

.meet-btn:hover {
  transition: 0.2s;
  background-color: #3795BD;
  opacity: 1;
  color: #fff;
}

.card_image {
  position: relative;
  height: fit-content;
  text-align: center;
}

.card_image:hover::after {
  color: #fff;
  cursor: pointer;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.card_image::after {
  color: #fff;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); */
}

.card_image h5,
h6 {
  /* color: white; */
  padding: 0.3rem;
  text-align: center;
  color: #03002f;
  /* top: 70%;
  left:50%;
  transform :translate(-50%, -50%);  
  position: absolute; */
}

.card_image img {
  border: 5px solid #3795BD;
  height: 30vh;
  width: 100%;
}

.card-main {
  background-color: #F2F2F2;
}

.cards-new-1 {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item-1 {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {

  .cards_item-1 {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item-1 {
    width: 25%;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.before-after-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results {
  margin-bottom: 3rem;
  width: 100%;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
}

.card_new-1 {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.result-main {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #03002f;
}


.global-btn {
  border: none;
  padding: 0.4rem 1rem;
  background-color: #E6B859;
  border-radius: 5px;
  /* color: black; */
  color: #03002f;
  opacity: 0.9;
  width: 10% auto;
  text-decoration: none;
}

.global-btn:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: #3795BD;
  opacity: 1.5;
}




/* ************* youtube **************  */

.video-responsive {
  /* overflow: hidden; */
  /* padding-bottom: 56.25%; */
  position: relative;
  /* height: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 25vw;
  border: 2px solid #3795BD;
}

.video-responsive img {
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  /* position: absolute; */
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  /* border: 2px solid red; */
  margin-bottom: 3rem;
}

.youtube-main {
  color: #03002f;
  margin-top: 3rem;
  text-align: center;
}

.youtube-main a {
  text-decoration: none;
  margin: 0 auto;
  /* color: black; */
  color: #03002f;
}

.product-1 img {
  width: 192px;
  margin-bottom: 3rem;
}



/* *************** form ************* */

.form-div {

  margin-top: 3rem;
  margin-right: -10rem;
  display: flex;
  height: 30vh auto;
  width: 60vw;

  /* background-image: url("../public/images/dr-zeba.jpeg"); */

  /* border: 2px solid black; */
  /* background-attachment: fixed;  */
  
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px 400px;
}

form {
  width: 70%;
  /* background-color: #E6B859; */
  background-image: linear-gradient(to right, #10f0e5d7 0%, #93e9cfda 51%, #10f0e5d7 100%);
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
  /* border: 2px solid red; */
}

form>label {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  color: #03002f;
}

.form-btn {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.6rem;
  width: 100px;
  cursor: pointer;
  background-color: #41b7e8;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: large;
  /* opacity: ; */
}

.form-btn:hover {
  transition: .3s ease-in-out;
  opacity: 1;
  /* color: #fff; */
  background-color: #1386b8;
}

form>h2 {
  margin-bottom: 2rem;
  color: #03002f;
}

form input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}



/* ********* home card ************* */

.home-card-main {
  padding: 4rem;
  /* border: 2px solid red; */
  display: flex;
  gap: 2rem;
  background-color: rgb(231, 213, 213);
  background-color: #0000003d;
  color: #8d4343;
  text-decoration: none;

}

.home-card-inner {
  /* border: 2px solid #ecb680; */
  background-image: linear-gradient(to right, #0393f3ef 0%, #d3e2de05 51%);
  padding: 0rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* position: relative;
 padding-top: 4rem; */
}
.home-card-inner:hover {
  /* transform: translateY(-10px); */
  box-shadow: 0 8px 16px rgba(11, 255, 235, 0.274);
  background-color: #56575781;
}

.icon-div {
  margin-left: 130px;
  margin-bottom: 0rem;
  /* background-color: rgb(207, 198, 198); */
  margin-top: '50%';
  font-size:45px;
  padding: 1rem 1rem;
  /* border: 4px solid #B6987A; */

}



/* ********** footer ***********  */

.footer-main {
  background-color: #174646f1;
  color: #e3f3d4f8;
  display: flex;
  justify-content: space-evenly;
}

.footer-inner {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24%;
  
}

.footer-inner .btn-grad {

  width: 100%;
  margin: 0 auto;
  color: #03002f;
}

.footer-inner p {
  font-weight: 200;
}

.footer-inner a {
  font-size: small;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.footer-inner a:hover {
  color: #fff;
}

.footer-inner a:after {
  content: '';
  position: absolute;
  width: 35%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  top: 15px;
  /* background-color: #3795BD; */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.footer-inner a:hover:after {
  color: #fff;
  transform: scaleX(1);
  transform-origin: bottom left;
}

li {
  font-weight: 200;
  list-style: none;
}

.footer-inner-1 {
  width: 150%;
  /* color: black; */
  color: #03002f;

  /* margin-top: -20px; */
  padding: -2rem;
  /* background-color: #F09819 ; */
  background-image: linear-gradient(to right, #07c4aa 0%, #71f0e9 51%, #07c4aa 100%);
  /* border: 5px solid #F09819; */
}



/* ********** About ************* */
.about-header {
  background-image: url("../public/images/hero_about.jpg");
  /* background: #03002f; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  color: #0ef0dd;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about-header p {
  font-weight: 600;
  font-size: large;
  color: #fffffff3;
  margin-right: 300px;
}

.offer-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  color: #03002f;
}

.offer-1 {
  display: flex;
  justify-content: space-evenly;
}

.offer-1 img {
  width: 25%;
  height: 60vh;
}

.offer-inner {
  /* display: flex;
  flex-direction: column; */
  /* border: 2px solid red; */
  width: 80%;
  color: #03002f;
  font-size: 20px;
}

.offer-1-main {
  display: flex;
  color:#03002f;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  /* width: 30%; */
  /* border: 2px solid red; */
}

.clinic-timing-main {
  display: flex;
  padding: 3rem;
  background-color: #E6B859;
  color: #03002f;
  /* color: #fff; */
}

.clinic-timing-1 span {
  font-weight: bold;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* .clinic-timing-1 h4{
 border-bottom: 2px solid #3795BD;
} */


/* ********* About doctor ******* */

.about-doctor img {
  /* width: 40%; */
  /* border: 2px solid red; */
}
.about-doctor-6{
  color: #03002f;
}

.about-doctor {
  padding: 2rem;
  color: #03002f;
  /* border: 2px solid red; */

}

.about-doctor-1 {
  display: flex;
  padding: 2rem;
  gap: 1rem;

  /* border: 2px solid red; */
  /* width: 60%; */

}

.about-doctor-1 img {
  width: 34vw;
  height: 60vh;
  align-items: center;
}

.about-doctor-3 form {
  height: 100vh auto;
  /* height: 100vh auto; */
  /* background-color: #E6B859; */
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
  width: 40%;
}

.about-doctor-6 p {
  padding-right: 2rem;
  padding-left: 2rem;

}

.about-doctor-6 h5 {
  padding-right: 2rem;
  padding-left: 2rem;

}

.about-doctor-5 {
  padding-right: 2rem;
  padding-left: 2rem;
  padding: 1rem;
}

.about-doctor-4 {
  width: 60%;
  padding: 2rem;
}

.about-doctor-3 {
  display: flex;
  flex-direction: row-reverse;
}


/* ************ Blogs ***********  */

/* Font */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700'); */



.main {
  max-width: 80%;
}


.card_image img {
  /* height: auto; */
  max-width: 100%;
  /* vertical-align: middle; */
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  /* border-radius: 0.25rem; */
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 1rem; */
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  /* color: black; */
  color: #03002f;
}

.card_title {
  /* color: black; */
  color: #03002f;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 1rem;
}

.card_text {
  /* color: black; */
  color: #03002f;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.blog-card-main form {
  width: 30%;
  margin-left: 2rem;
}

.blog-card-main {
  padding: 2rem;
  display: flex;
  margin-bottom: 3rem;
  ;
}

.blog-card-main form .btn-grad {
  letter-spacing: 0.3rem;
  width: 90%;
  margin: 0 auto;
}

.jkl1 {
  border-radius: 1rem;
  border: 2px solid gray;
  width: 40%;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jkl {
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  gap:1rem;
  justify-content: space-between;
  padding: 1rem -1rem;
  margin-bottom: 3rem;
}

.jkl img {
  height: 200px;
  width: 90%;
  margin-bottom: 2rem;
  margin: 1rem;
}




/* **** gallery ******  */
.gallery-div {
  margin-bottom: 3rem;
  padding: 2rem;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.gallery-div img {
  width: 25%;
  height: 350px;
}

.gallery-div1 img {
  width: 50%;
  height: 50%;
  margin-top: 5px;
  /* margin-left: 7rem; */
  margin-bottom: 5px; 
  border: 2px solid black;
  border-radius: 20px;
  

}

.gallery-div2 img {
  width: 50%;
  height: 50%;
  margin-top: 5px;
  /* margin-right: -5rem; */
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 20px;

}


/* ****** contact us *****ble  */

/* .contact-us-main .form-div{
  padding: 4rem;
  background-attachment: none;
  display: flex;
  justify-content: center;
  align-items:center;
} */
.contact-us-main {
  border: 2px solid red;
}

.contact-us-clinic {
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
}

.contact-us-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* border: 2px solid rgb(10, 1, 1); */
  align-items: center;
  justify-content: center;
  color: #034e53f8;
}
.contact-us-inner-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* border-radius: 2px 5px solid #03002f; */
  align-items: center;
  justify-content: center;
  color: #03002f;
  margin-right: 20px;
}
.contact-us-inner-1 .qr{
  width: 200px;
}


.testimonial-main {
  display: flex;
  padding: 4rem;
  justify-content: space-between;
  color: #03002f;
}

.carousel-main-1 {
  z-index: 1;
  width: 60%;
}



.derma-main {
  padding: 0rem;
  text-align: center;
  color: #03002f;
  /* border: 2px solid red; */
}

.derma-main img {
  width: 192px;
}

.meet-1 {
  padding: 2rem;
  text-align: center;
  color: #03002f;
}

.meet-1 img {
  width: 192px;
}

.contact-us-inner img {
  margin-bottom: 3rem;
  width: 192px;
}




/* *********** treatments ************  */
.treatments {
  margin-bottom: 0;
}

.treatments img {
  width: 70%;
  height: 120vh;
}

.acne-treatment {
  padding: 2rem;
}

.acne-treatment h5 {
  margin-top: 3rem;
}

.treatment-maped {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.treatment-maped-1 {
  width: 50%;
}

.treatment-maped-1 h1 {
  border-bottom: 2px solid #3795BD;
  color: #03002f;
}

.treatment-maped img {
  height: 40vh;
}

.carousel_image_new img {}

.carousel_image_new img {
  /* padding: 1rem;
  margin: 0 auto; */
  /* height: 30vh; */
}

.multi-carousel-image {
  cursor: pointer;
  position: relative;
}



.multi-carousel-image img {
  height: 85vh;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.multi-carousel-image:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 65%;
  transform: translate(-90%, -65%);
  -ms-transform: translate(-90%, -60%);
  text-align: center;
}

/* .multi-carousel-image:hover .image {
  opacity: 0.3;
}*/

.multi-carousel-image:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.contact-us-clinic iframe {
  width: 60%;
}

#basic-nav-dropdown {
  padding-right: 1rem;
  margin-top: -1px;
  /* border: 2px solid red; */
}

#basic-nav-dropdown:hover {
  color: #3795BD;
}

.new-dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid red; */
}

.dropdown1:hover {
  background: #D1D1D1;
}

.dropdown1 {
  padding: 0.3rem;
  width: 100%;
  /* border: 2px solid red; */
}



.products-carousel {
  background-color: #151414;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 88%;


}


.products-main-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 5%;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
  gap: 2rem;
  /* border: 2px solid red; */
}

.products-main-1 .cards {
  width: 22%;
}

.products-main-1 .cards_item {
  /* border: 2px solid red; */
  height: 420px auto;
  width: 100%;
}

.products-main-1 .card {
  /* border: 2px solid red; */
  width: 100%;
}

.products-main-1 .card_image img {
  opacity: 1;
  border: none;
}

.products-main-1 .card_content {
  height: 170px auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* border: 2px solid red; */
}

.products-main-1 .card_text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.products-main-1 a {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.go-back {
  padding: 0.5rem;
  border: 1px solid black;
  color: rgb(63, 62, 62);
  border-radius: 5px;
  margin: 2rem;
  background-color: #fff;
}

.products-details-main {
  margin: 3rem;
}

.products-detail-page {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.products-detail-page img {
  height: 40vh;
  width: 32vw;
}

.products-detail-page input {
  width: 80%;
}

.products-detail-page-inner-2 {
  width: 39%;
  border: 1px solid grey;
  padding: 1rem;
  height: fit-content;
}

.products-detail-page-inner-2 p {
  border-top: 1px solid grey;
  padding: 0.3rem;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.products-detail-page-inner-1 p {
  border-top: 1px solid grey;
}


.products-main {
  display: flex;
  flex-direction: column;
}

.products-main select,
label {
  width: 10%;
  padding: 0.5rem;
  float: right;
}

.products-main .dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5.4%;
}

.cart {
  /* border: 2px solid red; */
  font-size: x-large;
}

.cart span {
  border: 2px solid red;
  font-size: medium;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
}


/* ************ shopping cart **************  */

.shopping-cart-main {
  /* border:2px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.shopping-cart-2 {
  height: max-content;
  padding: 1rem;
  width: 25%;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  margin: 1rem;
  color: #03002f;
}

.shopping-cart-1 {
  /* border: 2px solid green; */
  padding: 1rem;
  width: 55%;
  color: #03002f;
}

.shopping-cart-1-inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid grey;
  align-items: center;
  /* border: 2px solid red;  */
}

.cart-btn {
  border-radius: 5px;
  border: none;
  border-right: 2px solid #fff;
  padding: 0.4rem 1rem;
  background-color: #E6B859;
  color: #fff;
  opacity: 0.9;
  width: 60px;
  height: max-content;
}

.cart-btn:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: #3795BD;
  opacity: 1.5;
}

.cart-btn-div {
  display: flex;
  gap: 1rem;
  /* border: 2px solid red;  */
}

.shopping-cart-1-inner img {
  width: 80px;
  height: 80px;
}

.Users-main {
  overflow-x: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.login-main {
  box-shadow: 0px 0px 2px 1px grey;
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.login-1 form {
  /* background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%); */

  width: 100%;
  color: #03002f;
}

.login-1 form input {
  padding: 1rem;
  /* width: 100%;
    border: 5px solid red; */
}

.login-1 {
  width: 100%;
  /* margin: 0 auto; */
  /* border: 2px solid red; */
}

.login-btn {

  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0.8rem 1rem;
  background-color: #3795BD;
  color: #fff;
  opacity: 0.9;
  width: 30%;
  margin-left: 10rem;
  border-radius: 5px;
  letter-spacing: 0.3rem;
}

.login-btn-new {

  width: "95%";
  padding: 0.8rem 1rem;
  border-radius: 5px;
  letter-spacing: 0.3rem;
  border: 2px solid black;
  background-color: #E6B859;
  width: 95%;
  margin: 0 auto;
  margin-right: 1.5rem;
  font-weight: bolder;
  color: #03002f;

}

.login-btn-new:hover {
  background-color: black;
  color: #E6B859;
}

.login-btn-div-1 {
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;

}

.login-btn:hover {

  transition: all 0.3s ease;
  color: #fff;
  background-color: #41b7e8;
  opacity: 2;
}

.login-btn-1 {
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0.8rem 1rem;
  background-color: #E6B859;
  /* #3795BD */
  /* color: black; */
  color: #03002f;
  opacity: 0.9;
  width: 50%;
  border-bottom: 3px solid #E6B859;
}

/* .login-btn-1:hover{
    transition: all 0.2s ease;
  color: #fff;
  background-color: #41b7e8;
  opacity: 1.5;
  border-bottom: 2px solid black;

   } */
.active-btn {
  /* background-color: #3795BD; */
  font-weight: bolder;
  text-decoration: underline;
  /* color: #fff;  */
  border-bottom: 3px solid black;
}

.shipping-main a {
  color: #3EBC9C;
  text-decoration: none;
}

.shipping-main {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.shipping-1 {
  display: flex;
}

.shipping-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.shipping-2 a {
  color: #5CCDB4;
  text-decoration: none;
}

.payment-main .login-btn {
  border-radius: 5px;
  width: 20%;
}

.payment-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  height: 200px;
}

.payment-1 label {
  width: auto;
}

.payment-1 {
  display: flex;
  justify-content: space-between;
}

.place-order-inner {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 1rem;
  /* border: 2px solid red; */
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
  align-items: center;
}

.place-order-inner img {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.order-main-1 {
  /* border-left : 1px solid grey;
    border-right: 1px solid grey; */
  border: 1px solid grey;
  padding-top: 1rem;
  text-align: center;
}

.place-order-main {
  padding: 2rem;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.place-order-2 {
  width: 80%;
}

.place-order-main .products-detail-page-inner-2 {
  margin-left: 1rem;
}



/* ********** add product ********** */
.add-product-main {
  margin-bottom: 3rem;
}

.add-product-main select {
  padding: 1rem;
  margin: 0.3rem;
}

.add-product-main input {
  padding: 1rem;
  margin: 0.3rem;
}

.add-product-main form {
  margin: 0 auto;
}

/* **************** profile *************** */

.profile-main {
  margin-bottom: 3rem;
}

.profile-main form {}

.profile-form {
  padding: 0;
  /* border: 2px solid red; */
  margin: 0 auto;
  background-color: #fff;
}

.profile-btn {
  border: none;
  padding: 0.4rem 1rem;
  background-color: #E6B859;
  /* color: white; */
  opacity: 0.9;
  width: 10% auto;
}

.profile-btn:hover {
  transition: all 0.3s ease;
  color: #fff;
  background-color: #3795BD;
  opacity: 1.5;
}

.profile-main form input {
  border: 1px solid grey;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  text-align: left;
}

.profile-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 20%;
}


/* *********** Orders ************  */

.order-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-main .table {
  margin: 3rem;
  /* border: 2px solid red; */
  width: 100%;
  overflow-x: auto;
}

table {
  overflow-x: auto;
  border: 5px solid red;
  width: 100%;
}

#table {
  overflow-x: auto;
  /* border: 2px solid red;  */
}

/* #order-new-1{
      display : flex;
      justify-content: space-around;
    border: 2px solid red;
   } */
.shipping-main .btn-grad {
  width: 94%;
}

form .btn-grad {
  letter-spacing: 0.5rem;
  width: 94%;
}

.cardslidersetup {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.gallery_images{
  border : 2px solid red;
  height : 100px ;
  width : 100px ;
}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

@media only screen and (min-width: 993px) and (max-width :1199px) {

  #navbar{
    width : auto;
    height: 6rem;
  }
  
  .logo img {
    
    /* margin-right: 5rem; */
    height: 6vh;
    width : 100px;
    /* margin-right: 3rem; */
    margin-left: 1rem;
    /* border: 2px solid red; */
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  
  .gallery-div1 img {
    width: 80vw;
    height: 65vw;
    /* margin: 1rem 3rem; */
  }

  .gallery-div2 img {
    width: 80vw;
    height: 65vw;
    /* margin: 2rem 3rem; */
  }

  .jkl {
    padding:1rem; 
    display: block;
  }

  .jkl1 {
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid gray;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .jkl img {
    height: 400px;
    width: 90%;
    /* margin: 1rem; */
  }


  .shipping-main .btn-grad {
    width: 90%;
  }

  .table {
    overflow-x: auto;
  }
/* 
  .clinic-timing-1 span {
    width: auto;
  } */

  .products-main .dropdown select,
  label {
    width: 30%;
  }

  .treatment-maped {
    flex-direction: column;
  }

  .treatment-maped-1 {
    width: 100%;
  }

  .about-doctor-1 {
    align-items: center;
  }

  .place-order-main .products-detail-page-inner-2 {
    margin: 0;
  }

  .place-order-main {
    width: 100%;
  }

  .place-order-2 {
    width: 100%;
    margin: 0;
  }

  .place-order-inner {
    flex-direction: column;
  }

  .place-order-main {
    flex-direction: column;
  }

  .login-main {
    width: 90%;
  }

  .shopping-cart-main {
    width: 100%;
    flex-direction: column;
    margin-bottom: 3rem;
    height: auto;
  }

  .shopping-cart-1 {
    width: 100%;
  }

  .shopping-cart-2 {
    margin: 0 auto;
    width: 100%;
  }

  .shopping-cart-1-inner {
    flex-direction: column;
    /* border: 2px solid red; */
  }

  .App {
    /* border: 2px solid red; */
    flex-direction: column;
  }

  .video-responsive {
    margin: 0 auto;
    width: 80%;
    /* border: 2px solid red; */
  }

  .meet-2 img {
    height: 50vh;
    width: 100%;
  }

  .products-detail-page-inner-2 {
    width: 100%;
  }

  .products-detail-page {
    flex-direction: column;
  }

  .products-carousel {
    width: 90%;
  }

  .products-main-1 .cards {
    margin: 0 auto;
    width: 33%;
  }

  .testimonial-main {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .carousel-main-1 {
    width: 100%;
  }

  .meet-2 {
    flex-direction: column;
    /* border: 5px solid red; */
  }

  .home-card-main {
    flex-direction: column;
  }

  .footer-main {
    flex-direction: column;
  }

  .footer-inner {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .main {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
  }

  .cards-new-1 {
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
  }

  .home-card-main {
    gap: 3rem
  }

  .clinic-timing-main {
    flex-direction: column;
  }

  .offer-1 {
    flex-direction: column;
    align-items: center;
  }

  .offer-1 img {
    width: 80%;
  }

  .about-doctor {
    padding: 0;
  }

  .about-doctor-1 {
    flex-direction: column;
    gap: 2rem;
  }

  .about-doctor-1 img {
    width: 70%;
  }

  .about-doctor-2 {
    width: 100%;
    margin: 0;
  }

  .about-doctor-3 {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .about-doctor-3 form {
    height: 120vh auto;
    width: 100%;
  }

  .about-doctor-4 {
    width: 100%;
  }

  .blog-card-main {
    flex-direction: column;
    gap: 2rem;
  }

  .main {
    margin: "0 auto";
    width: 100%;
  }

  .blog-card-main form {
    margin: 0;
  }

  .treatments {
    padding: 0;
    padding-top: 2rem;
  }

  .treatments img {
    padding-top: 2rem;
    width: 100%;
  }

  .treatments form {
    width: 100%;
  }

  .results {
    width: 100%;
    /* border: 2px solid red; */
    align-items: center;
  }

  .blog-card-main {
    padding: 0;
  }

  .blog-card-main form {
    width: 100%;
  }

  .contact-us-clinic {
    flex-direction: column;
  }

  .form-div form {
    width: 100vw;
    margin: 0;

  }

  .form-div {
    height: fit-content;
    padding: 0;
  }

  .gallery-div1 img {
    width: 80vw;
    height: 65vw;

  }

  .gallery-div2 img {
    width: 80vw;
    height: 65vw;

  }

  .cardslidersetup {
    margin-top: 10px;
    align-items: initial;

  }
 

}

@media only screen and (max-width: 600px) {
  .payment-1 label {
    font-size: small;
  }

  .cardslidersetup {
    margin-top: 10px;
    padding: 0px 0px;
  }

  .jkl img {
    height: 350px;
    width: 90%;
    margin: 1rem;
  }

  .gallery-div1 img {
    width: 80vw;
    height: 65vw;
    /* margin: 1rem 3rem; */
  }

  .gallery-div2 img {
    width: 80vw;
    height: 65vw;
    /* margin: 2rem 3rem; */
  }


  .payment-main h1 {
    font-size: larger;
  }

  .shipping-1 {
    width: 100vw;
  }

  .shipping-2 {
    padding-left: 1rem;
  }

  .shipping-2 a {
    font-size: small;
  }

  .shipping-main {
    padding-top: 2rem;
    margin: 0;
    width: 100%;
  }

  .products-detail-page img {
    width: 100%;
  }

  .blog-card-main .main {
    margin: 0 auto;
  }

  .logo img {
    height: 4vh;
    width: 100%;
    margin-left: 0;
  }

  #navbar {
    height: auto;
  }

  .meet-main .btn-grad {
    width: 100%;
    margin-left: -0.3rem;
  }

  #order-main-1 .table {
    width: auto;
    overflow-x: auto;
    /* border: 2px solid red; */
  }

  .orderItem-1 {
    width: 100%;
  }

  .orderItem {
    width: 100%;
  }

  .cards .card_image img {
    height: 50vh;
  }

  .login-btn {
    width: 100%;
  }

  .treatment-maped-1 p {
    font-size: small;
  }

  .treatment-maped img {
    width: auto;
  }

  .treatments img {
    height: 50vh;
  }

  .about-doctor-4 p {
    font-size: small;
  }

  .about-doctor-2 p {
    font-size: small;
  }

  .doctors-image img {
    width: 130vw;
  }

  .offer-main {
    padding: 1rem;

  }

  .offer-1 {
    width: 100%;
  }

  .form-div .btn-grad {
    width: 92%;
  }

  .meet-3 {
    height: auto;
    width: 100%;
  }

  .meet-3 p {
    font-size: small;
  }

  .contact-us-clinic iframe {
    width: 100%;
  }

  .cards_item-1 {
    width: 100%;
  }

  .gallery-div {
    flex-direction: column;
  }

  .gallery-div1 {
    flex-direction: column;
  }

  .gallery-div img {
    width: 100%;
  }

  .products-main-1 {
    padding: 0;
  }

  .products-main-1 .cards {
    /* margin: 0 auto; */
    width: 90%;
  }

  .products-main-1 .cards h2 {
    font-size: small;
  }

  .products-main-1 .cards_item {
    padding: 0;
    margin: 0;
  }
  .logo img {
    height : 7vh;
    width : 200px;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .web-card-body {
    width: 100%;
    height: auto;
    background-color: aqua;
    padding: 20px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .card-card2 {
    background: #ffffff;
    width: 288px;
    height: 434px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .card-card2 {
    transition: background-color 0.3s ease;
  }
  
  .card-card2:hover {
    background-color: #ac1a1a; /* Change this to the color you want on hover */
  }
  .meet-container {
    background-color: lightgray;
    padding: 20px;
  }
  
  /* .web-card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    width: 100%;
    margin-left: 4%;
  }
  
  .card {
    width: 42%;
    background-color: #ffffff;
    border-radius: 10px;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card1 {
    width: 40%;
    margin-top: 10px;
  }
  
  .card-title {
    font-size: 22px;
    margin: 10px 0;
    color: #333;
  }
  
  .card-content {
    font-size: 20px;
    color: #555;
  }
  
  .card-img {
    width: 19%;
    height: auto;
    overflow: hidden;
    margin-left: 25px;
  }
  
  .card-des {
    font-size: 16px;
    margin-left: 25px;
  }
  
  .learn-more-button {
    width: 80%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01CAB8;
    gap: 5px;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
    
    .card1 {
      width: 100%;
    }
  } */
  .replacement {
    background-image: url('/public/Replacement_background.jpg');
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
  }
  
  .replacement1 {
    width: 536px;
    height: 1060px;
  }
  
  .replacement2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cards3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .replacement {
      display: block;
    }
  
    .replacement1 {
      height: auto;
    }
  
    .replacement2 {
      width: 100%;
    }
  }
  
}
